@import "config";
@import "utilties";
@import "buttons";

.header-sass {
  background-color: $third-color;
  color: $secondary-color;
}

@mixin flexCenter($direction, $height) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
  height: $height;
}

body {
  @include flexCenter(column, 100vh);
}

@mixin theme($light-theme: true) {
  @if $light-theme == true {
    background: lighten($primary-color, 100%);
    color: darken($text-color, 100%);
  }
  @if $light-theme == false {
    background: lighten(black, 100%);
    color: darken(white, 100%);
  }
}

%message-shared {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 5px;
}

%testing-ground {
  // wont display because we didn't use it.
  color: #f4f4f4;
  background: #141414;
}

.box {
  @extend %message-shared;
}

// using if mixing operator
.light {
  @include theme($light-theme: false);
}

article[role="main"] {
  float: left;
  width: 600px / 960px * 100%;
}

aside[role="complementary"] {
  float: right;
}

%message-status {
  border: 1px solid #ccc;
  color: black;
}

.success {
  @extend %message-status;
  background: green;
}
.error {
  @extend %message-status;
  background: red;
}
.pending {
  @extend %message-status;
  background: blue;
}
