$font-stack: Helvetica, san-serif;
$third-color: blue;
$primary-color: red;
$secondary-color: white;
$text-color: #141414;

.container {
  background-color: $primary-color;
  color: $secondary-color;
}
